---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header"><!-- I want the font smaller here, so I rewrote the line below-->
            <h1 class="post-title" style="font-size: 2.0rem;">{{ page.title }}</h1>
            <p class="post-description" style="font-size: 1.0rem;">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications"> 
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

          {%- if site.giscus.repo and page.giscus_comments -%}
            {% include giscus.html %}
          {%- endif -%}
        </div>
